---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GithubIcon from '../components/icons/Github.astro';

import SocialPill from '../components/SocialPill.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<img class="rounded-full w-12 h-12 mb-4"
			src="src/components/img/imagen-perfil.jpeg" 
			alt="imagen-perfil" 
			/>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hey, soy Darikson <a 
				href="https://www.linkedin.com/in/dariksonanyosa/" target="_blank" 
				rel = "noopener"
				class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				<span>Estudiante de Ingeniería de Software</span>,
				<span class="text-yellow-200/90">Apasionado por la Inteligencia Artificial y el Desarrollo Web</span> . 
				<span class="text-red-100/90 ">De Ancash, Perú.</span>  <span class="opacity-75">Creando soluciones innovadoras y desarrollo de aplicaciones interactivas.</span>
			</h2>
			
			<nav class="flex gap-x-2 mt-8">
				<SocialPill href="https://www.linkedin.com/in/dariksonanyosa/">
					<LinkedInIcon class="w-6 h-6" />
						LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/DariksonAnyosa">
					<GithubIcon class="w-6 h-6" />
						Githuh
				</SocialPill>
			</nav>
		</section>
	</main>
</Layout>


